body {
  margin: 0;
}

.signin-btn {
  height: 30px;
  width: 100px;
  background-color: aqua;
  color: brown;
  text-align: center;
  line-height: 30px;
  margin: 30px 30px; 
}

.signin-box {
  list-style: none;
  width: 360px;
  height: 360px;
  border: 1px solid;
  margin-left: 30px;
  padding: 50px 50px;
  display: none;
  background-color: lightblue;
  position: absolute;
  z-index: 3;
}

.signin-title {
 
}
 .signin-form {
   height: 50px;
   width: 300px;
   border: 1px solid;
   margin-bottom: 10px;
   
 }

 .back {
  height: 30px;
  width: 100px;
  background-color: aqua;
  color: brown;
  text-align: center;
  line-height: 30px;
  margin: 30px 30px; 
 }

.food {
  display: flex;
  width: 300px;
  height: 100px;
  margin-left: 150px;
  margin-bottom: 20px;
  position: relative;
  
}

.menu {
  width: 100px;
  height: 100px;
  background-color: lightsalmon;
  
}

.text {
  display: none;
  width: 80px;
}

.text-active {
  display: block;
}

.question {
  width: 100%;
}

#question-list {
  list-style: none;
}

.q {

}

.ques {
  width: 300px;
  height: 50px;
  background-color: lightsteelblue;
}

.answer {
  width: 300px;
  height: 50px;
  background-color: lightsteelblue;
  display: none;
}

p {
  width: 300px;
  height: 50px;
  background-color: lightsteelblue;
}